{% extends 'layout.html' %} {% set pageId = "page-home" %} {% block styles %}
<link rel="stylesheet" href="./styles/page-home.css" />{% endblock styles %} {%
block content %}
<div class="container">
  <a class="d-grid gap-2" href="/ps">
    <button class="btn btn-primary btn-block">Porto de Santana</button>
  </a>
  <a class="d-grid gap-2 mt-3" href="/grauna">
    <button class="btn btn-success btn-block">Grauna</button>
  </a>
</div>
{% endblock content %} {% block scripts %} {% endblock scripts %}
